body{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	background-color:#E4EAFF;
}
#emailSearch{
	grid-column: 3/5;
	width: 100%;
	height: 5vw;
}
.profileBox{
	grid-column: 3/5;
	width: 100%;
	height: 30vw;
	background-color: white;
}
.talentProfile{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 13vw;
	margin: 1vw;
}
#talentProfilePicture {
	width: 6vw;
	height: 6vw;

}

#inactiveButton{
	border: none;
	width: 19vw;
	height: 5vw;
	margin-left: 6.5vw;
	background: #6FA8DC;
}
#activeButton{
	border: none;
	width: 19vw;
	height: 5vw;
	margin-top: 3vw;
	margin-left: 6.5vw;
	background: #6FA8DC;
}