/*the Font used for the entire project*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

/*-------------------------*/
/*font for text in body*/
/*-------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    background-color:#E4EAFF;
}

/*-------------------------*/
/*Main grid for the website*/
/*-------------------------*/

#mainbody  {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 5vw;
}

#Bannertitle > h2 {
    font-size: 1.2em;
}

#Bannertitle {
    color: #464646;
    grid-column: 2/6;
    align-items: center;
}

#Bannertitle > h1 {
    text-align: center;
    color: #1162AD ;
    font-size: 4em !important;
}
/*-------------------------*/
/*Style for the pictures and upper text*/
/*-------------------------*/
#Pictures {
    grid-column: 1/7;
    display: flex;
    justify-content: space-between;
    padding-right: 7vw;
    padding-left: 7vw;
}

#Pictures > img {
    width: 25vw;
}

#Lefttext {
    margin-left: 5vw;
    grid-column: 1/3;
}

#Rightpicture{
    grid-column: 5/7;
    max-height: 5vw;
    padding-right: 5vw;
}

#Rightpicture > img {
    max-width: 100%;
 }
/*-------------------------*/
/*graph bubble*/
/*-------------------------*/
#Graph{
    margin-left: 5vw;
    background-color: #dee1ec;
    color: #1162ad;
    grid-column: 1/3;
    border-radius: 3vw;
    padding: 2vw;
    text-align: center;
    justify-content: center;
    display: flex;
}

#Graph > p {
    text-align: center;
    align-self: center;
}

#Righttext{
    grid-column: 5/7;
    padding-right: 5vw;
}
/*-------------------------*/
/*bottom text location and style*/
/*-------------------------*/
#Bottomtext{
    grid-column: 1/7;
    padding-right: 3vw;
    padding-left: 3vw;
    margin-bottom: 2vw;
}

