body{
	padding: 0;
	margin: 0;
}

#container{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	background-color: #E4EAFF;
}

header{
	grid-column: 1/7;
}

main{
	grid-column: 1/7;
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#form{
	grid-column: 2/4;
	display:flex;
	flex-direction: column;
	align-items: center;
	
	background-color: white;
	padding-left: 50px;
	padding-right: 50px;
}

.labels{
	margin: 0;
}

.texts{
	margin-top: 0;
}

#submit{
	display: flex;
	justify-content: center;
}

#contactinfo{
	grid-column: 5/7;
	display:flex;
	flex-direction: column;
}

.contactbox{
	display: flex;
	justify-content: center;
	
	background-color: white;
	margin: 20px;
}

footer{
	grid-column: 1/7;
}