* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginForm {
    background: #fff;
    width: 50vw;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}