body{
	padding: 0;
	margin: 0;
}

#container{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	background-color: #E4EAFF;
}

header{
	grid-column: 1/7;
}

main{
	grid-column: 1/7;
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#form{
	grid-column: 2/4;
	display:flex;
	flex-direction: column;
	align-items: center;
	
	background-color: white;
	padding-left: 50px;
	padding-right: 50px;
}

.labels{
	margin: 0;
}

.texts{
	margin-top: 0;
}

#submit{
	display: flex;
	justify-content: center;
}

#submit2{
	background-color: #6FA8DC;
}

h2{
	color:#1162AD;
}

h3{
	color:#1162AD;
	margin-bottom: 0px;
}

#contactinfo{
	grid-column: 5/7;
	display:flex;
	flex-direction: column;
}

.contactbox{
	display: flex;
	
	background-color: white;
	margin-top: 20px;
}

.contactpicture{
	margin: 15px;
}

.contacttext{
	text-align: center;
	margin-right: 50px; 
	margin-left: 50px; 
}

.mail{
	margin-top: 25px;
	margin-bottom:0px;
}

.phone{
	margin-top: 0px;
	margin-bottom:0px;
}

footer{
	grid-column: 1/7;
}