    <footer>
        <div class="f-content">
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Team</a>
                </li>
                <li>
                    <a href="#">bla</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="f-content">
            <a href="#">
                <img src="images/instagram.png" alt="instagram">
            </a>
            <a href="#">
                <img src="images/facebook.png" alt="facebook">
            </a>
            <a href="#">
                <img src="images/twitter.png" alt="twitter">
            </a>
            <a href="#">
                <img src="images/linkedin.png" alt="linkedin">
            </a>
        </div>
        <div class="f-content">
            <p>© Copyright E3T and PEZARB 2022. All rights reserved</p>
        </div>
    </footer>
</body>
<script src="js/deskapp.js"></script>
</html>
